/* Write your CSS here */

* {
  margin: 0;
}
.configurationController-container {
  background-color: #475569;
  padding: 10px 0 0 30px;
  height: 20vh;
  color: white;
}
.controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
label {
  margin-left: 10px;
}
input {
  height: 18px;
  width: 18px;
}
